.modal-alert {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: grid;
  place-items: center;

  .modal-content {
    width: 40rem;
    background-color: hsl(252, 32%, 17%);
    border-radius: 1rem;
    padding: 2rem;

    h1 {
      font-size: 1.9rem;
    }

    p {
      margin-top: 1rem;
    }

    .btn-container {
      display: flex;
      margin-top: 2.4rem;
      gap: 0.8rem;

      .btn {
        width: 100%;
      }

      .btn-secondary {
        background-color: hsl(252, 32%, 25%);
      }
    }
  }
}
